@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

body {
/*	background: #fff;*/
	color: #000;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	padding: 2%;
}

.center {
	margin: auto;
	width: 90%;
	padding: 2%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {
	margin:2% auto 0;
	width:98%;
	max-width: 1500px;
}

img {
	height: 400px;
	float: left;
	padding: 1em;
	display: inline;
}

hr {
	width: 100%;
}

nav	{
	text-transform: uppercase;
  	font-size: 1.4em;
  	float: right;
  	padding: 1%;
}

nav a {
	text-decoration: none;
	color: #000;
	margin: 1.8em;
	display: inline-block;
}

h1, h2 {
	text-transform: uppercase
	font-weight: 800;
}


h1	{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-transform: uppercase
}

.imagegrid {
	margin:2% auto 0;
	width:98%;
	max-width: 1000px;
}

/*.imagegrid {
	margin: 0 auto;
	padding: 5%;
}*/


.gallery {
	display: block;
	width: 100;
	margin: 1.25em;
/*	background: #fffebb;*/
	float: left;
} 


.hero{
	display: block;
	width: 100%;
	float: left;
}

/*div div {
	display: block;
	width: 90%;*/

/*	float: center;*/
/*	margin: 20px;*/
/*	background: #343434;*/
/*} */

footer {
  text-align: center;
  padding: 1em 0;
  margin-top: 40px;
  clear: both;
}
.bottomcenter{
	display: block;
	width: 90%;

}
 @media screen and (max-width:768px) {
 	.gallery{
 	float:none;
 	}
 }

}
 @media screen and (max-width:370px) {
 	.gallery{
 	float:none;
 	}
 }



